<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sonichollow.forum.mapper.UserMapper">

<!--    <resultMap type="PlcConfig" id="PlcConfigResult">-->
<!--        <result property="plcId"    column="plc_id"    />-->
<!--        <result property="plcCode"    column="plc_code"    />-->
<!--        <result property="name"    column="name"    />-->
<!--        <result property="host"    column="host"    />-->
<!--        <result property="slotNo"    column="slot_no"    />-->
<!--        <result property="rackNo"    column="rack_no"    />-->
<!--        <result property="timeout"    column="timeout"    />-->
<!--        <result property="maxBytesCount"    column="max_bytes_count"    />-->
<!--        <result property="deptId"    column="dept_id"    />-->
<!--        <result property="isConnect"    column="is_connect"    />-->
<!--        <result property="isEnable"    column="is_enable"    />-->
<!--        <result property="createTime"    column="create_time"    />-->
<!--        <result property="updateTime"    column="update_time"    />-->
<!--        <result property="createBy"    column="create_by"    />-->
<!--        <result property="updateBy"    column="update_by"    />-->
<!--    </resultMap>-->

    <insert id="insert1" parameterType="com.sonichollow.forum.entity.User">

        insert user(username,password) values(#{username},#{password})
    </insert>
</mapper>
